.container-fluid {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.col-md-2 {
    background-color: #343a40;
    color: #ffffff;
    padding: 15px;
    height: 100vh;
}

.sidebar {
    height: 100%;
}

.sidebar a {
    color: #ffffff;
    text-decoration: none;
}

.sidebar a:hover {
    color: #adb5bd;
}

.col.py-3 {
    padding: 20px;
    background-color: #f8f9fa;
    overflow-x: auto; /* Adicionado para que o conteúdo se ajuste horizontalmente */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.list-group-item {
    font-size: 16px;
    border: 1px solid #dee2e6;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; /* Altera o layout para colunar em telas menores */
}

.list-group-item:hover {
    background-color: #e9ecef;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-warning {
    background-color: #ffc107;
    border: none;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}

.modal-content {
    border-radius: 0.5rem;
}

.modal-header {
    background-color: #007bff;
    color: #ffffff;
    border-bottom: 1px solid #dee2e6;
}

.modal-title {
    font-size: 18px;
}

.modal-body {
    font-size: 16px;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}

.modal-footer .btn-secondary {
    background-color: #6c757d;
    border: none;
}

.modal-footer .btn-secondary:hover {
    background-color: #5a6268;
}

.modal-footer .btn-primary {
    background-color: #007bff;
    border: none;
}

.modal-footer .btn-primary:hover {
    background-color: #0056b3;
}

.modal-footer .btn-danger {
    background-color: #dc3545;
    border: none;
}

.modal-footer .btn-danger:hover {
    background-color: #c82333;
}

.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding: 10px;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

/* Media Queries para ajuste de layout em diferentes tamanhos de tela */

@media (min-width: 768px) {
    .list-group-item {
        flex-direction: row; /* Layout em linha para telas maiores */
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .col-md-2 {
        height: auto; /* Deixa a barra lateral ajustável em telas menores */
        padding: 10px;
    }

    .col.py-3 {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    .list-group-item {
        font-size: 14px;
    }

    .list-group-item div {
        margin-top: 10px; /* Dá espaçamento extra entre os elementos */
    }

    .btn {
        width: 100%; /* Botão ocupa a largura total em telas pequenas */
    }
}
