.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-box {
    background: #0723f6;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.login-box h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #ffffff;
}

.form-group {
    margin-bottom: 1rem;
    position: relative;
}

.form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #343434;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-5 {
    margin-top: 2rem;
}

.btnSubmit {
    background-color: #090ea3;
    color: #fff;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

.btnSubmit:hover {
    background-color: #0056b3;
}

.error-message {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.ForgetPwd {
    color: #fcfcfc;
    text-decoration: none;
    font-size: 0.875rem;
}

.ForgetPwd:hover {
    text-decoration: underline;
}